<!-- Navbar -->
   <header>
<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <span class="brand-logo hide-on-med-and-down">KARAMELKORN!</span>
<!--Full sized Nav  -->
    <ul id="nav-full" class="right hide-on-med-and-down white-text">
      <li class="menu-item"><a class="waves-effect waves-light btn" href="/">
        <i class="material-icons">home</i>Home</a>
        </li>
      <li><a class="waves-effect waves-light btn" href="/movies"><i class="material-icons">local_movies</i> Movies</a></li>
     <li><a class="waves-effect waves-light btn" href="/tv"><i class="material-icons">live_tv</i>TV Shows</a></li>
     </ul>
     <!-- Mobile Button -->
        <a href="#" class="button-collapse" data-activates="mobile-nav" data-sidenav="left" data-closeonclick="true" data-menuwidth="100">
           <i class="material-icons">menu</i>
</a>
<!-- Mobile Sidenav Menu -->
   <ul id="mobile-nav" class="black-text side-nav">
      <li class="active"><a class="black-text" href="/">Home</a></li>
      <li><a  class="black-text" href="/movies">Movies</a></li>
     <li><a class="black-text" href="/tv">TV Shows</a></li>
     </ul>

  </div>
</nav>
</header>
<!-- End Navbar -->

<!-- Most Popular Tv Shows Section -->
<section class="tvsection container">

  <div class="row mostPopularFull">
<!-- Large Left result on top-->
<div class="leftContainer imgBlock col s12 m12 l6">
  <a ui-sref="tdetail" ng-click="share(airToday.data.results[0].id)">
  <img class="large-image" ng-src="https://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">

   </a>
 </div>

 <!-- Right side grid on top -->
<div class="rightContainer col s12 m12 l6">
  <div class="titleContainer">
      <h1>KARAMELKORN!</h1>
      <h2>Movie and TV Entertainment</h2>
  </div>
</div>


 </div>
<!-- End Row  -->



</section>
<!-- End Section -->


<!-- Upcoming Movies Section -->
<section class="mainMovies container">
  <!-- <div class="titleContainer col s4 grey darken-4">
  <h2 class="sectionTitle white-text">Most Anticipated Movies</h2>
</div> -->
  <div class="row movieContainer center-block">


  <ul>
    <li ng-repeat="movie in comingSoon.data.results | limitTo:6:1"  class="repeat-list-item">
        <a ui-sref="mdetail" ng-click="share(movie.id)">
      <!-- thumbnail -->


      <div class="item-thumbnail col m2 s6">

        <img class="responsive-img" ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" onerror="this.src='/images/movietv.png'">
      </div>
      <!-- header -->

    </a>
    </li>

</ul>

</div>
<!-- End Left Content -->
<!-- Right Section -->

</div>
</section>
<!-- End Section -->
