<!-- Most Popular Tv Shows Section -->
<section class="tvsection container">

  <div class="row mostPopularFull">
    <!-- Large Left result on top-->
    <div class="leftContainer imgBlock col s12 m12 l6">
      <a ui-sref="tdetail" ng-click="share(airToday.data.results[0].id)">
        <img class="large-image" ng-src="https://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">

      </a>
    </div>

    <!-- Right side grid on top -->
    <div class="rightContainer col s12 m12 l6">
      <div class="titleContainer">
        <h1>KARAMELKORN!</h1>
        <h2>Movie and TV Entertainment</h2>
      </div>
    </div>


  </div>
  <!-- End Row  -->



</section>
<!-- End Section -->


<!-- Upcoming Movies Section -->
<section class="mainMovies container">
  <!-- <div class="titleContainer col s4 grey darken-4">
  <h2 class="sectionTitle white-text">Most Anticipated Movies</h2>
</div> -->
  <div class="row movieContainer center-block">


    <ul>
      <li ng-repeat="movie in comingSoon.data.results | limitTo:6" class="repeat-list-item">
        <a ui-sref="mdetail" ng-click="share(movie.id)">
          <!-- thumbnail -->


          <div class="item-thumbnail col m2 s6">

            <img class="responsive-img" ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" onerror="this.src='/images/movietv.png'">
          </div>
          <!-- header -->

        </a>
      </li>

    </ul>

  </div>
  <!-- End Left Content -->
  <!-- Right Section -->

  </div>
</section>
<!-- End Section -->